body {
    position: relative;   
    font-family: 'Verdana', sans-serif;
  
}
.overlay{
    position:absolute;
    -webkit-animation: fade 8s linear 3s ;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    text-align: left;
    z-index: 5;
}
@-webkit-keyframes fade {
    0% {    
        opacity: 0.9;
    }
    100% { 
        background-color: black;   
        opacity: 0.7;        
    }
}
.modal {
    opacity: 0;
    animation: myFade 2s linear 3s ;
    animation-fill-mode: forwards;  
    padding: 20px;
    width: 600px;
    height: 350px;
    position: absolute;
    top: 20%; 
    left: 20%;
    margin-bottom: -100px;
    background-color: #f0f4f4;
    border-radius: 5px;
    z-index: 15; 
}

@-webkit-keyframes myFade {
    0% {
        left: 100%;
    }
    30%{
        opacity: 1;
    }
    100%{
        left: 25%;
        opacity: 1;
        margin-right: auto;
    }
}

#main-content{
    background-color: #ffffff;
    padding: 40px 40px 80px 40px;
}


#row-1{
    width: 100%;
    height: 100px;
    border: 2px solid #393438;
    margin-bottom: 15px;
}

#orange{
    width: 100%;
    background-color: #f15e20;
    height: 100%;
}

#row-2{
    height: 125px;
    width: 100%;
    margin: 0 auto;
    margin-top:15px;
    z-index: 10;
}

#red{
    display: inline-block;
    width: 128px;
    background-color: red;
    height: 100%;
}

#blue{
    display: inline-block;
    background-color: #4db2e1;
    height: 95%;
    margin-top: 10px;
    width: 850px;
    margin-left: 10px;
    z-index: 3;
}

#black{
    display: inline-block;
    background-color: black;
    height: 100%;
    width: 128px;
    margin-left: 10px;
}

#violet{
    background-color: #7f0eb7;
    height: 410px;
    width: 125px;
    margin-left: 270px;
    margin-top: 120px;
    position: absolute;
    z-index: 2;
}

#row-3{
    width: 100%;
    height: 125px;
    margin-top:15px;
    clear: both;
}
#green{
    background-color: #28a341;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

#row-4{
    height: 100px;
    margin-top:15px;
    border: 2px solid #393438;
}

#yellow{
    background-color: #eae35d;
    height: 100%;
    z-index: 3;
}

#row-5{
    height: 126px;
    margin-top:15px;
}

#grey{
    display: inline-block;
    background-color: #8f8e91;
    height: 100%;
    width: 180px;
    margin-left: 80px;
}

#pink{
    display: inline-block;
    background-color: #f415be;
    height: 100%;
    width: 775px;
    margin-left: 140px;
}


